<a class="remove" href="#close"></a>

<div class="drawDetails">
    <% if (drawMode === 'circle') { %>
        <i class='circleImg'>CircleImg</i>
        <% if (!radiusModeEdit) { %>
            <span class="drawRadius right"><%- radiusValDisplay %></span>
        <% } else { %>
            <input class="drawRadiusEdit" value="<%- radiusVal %>"/>
            <a class='saveRadiusChange'>Save Radius</a>
            <a class='cancelRadiusChange'>Cancel Radius Edit</a>
        <% } %>    
    <% } else if (drawMode === 'rectangle') {%>

        <i class='squareImag'>SquareImg</i>
    <% } else { %>
        <i class='polyImg'>PloyImage</i>
    <% } %>
    <% if (editDrawStatus) { %>
        <a class='saveShapeEdit'>Save Shape</a>
        <a class='cancelShapeEdit'>Cancel</a>
    <% } else { %>
        <% if (!radiusModeEdit) { %>
            <a class="editDraw">Edit Shape</a>
         <% } %> 
    <% } %>
</div>