<a class="remove" href="#close"></a>

<div class="drawDetails">
    <% if (drawMode === 'circle') { %>
        <i class='circleImg'>Radius</i>
        <% if (!radiusModeEdit) { %>
            <span class="drawRadius right"><%- radiusValDisplay %></span>
        <% } else { %>
            <div class="right">
                <input class="drawRadiusEdit" value="<%- radiusVal %>"/>
                <a class='saveRadiusChange'>Save</a>
                <a class='cancelRadiusChange'>Cancel</a>
            </div>
        <% } %>    
    <% } else if (drawMode === 'rectangle') {%>

        <i class='squareImag'>Custom</i>
    <% } else { %>
        <i class='polyImg'>Custom</i>
    <% } %>
    <% if (editDrawStatus) { %>
        <a class='saveShapeEdit'>Save</a>
        <a class='cancelShapeEdit'>Cancel</a>
    <% } else { %>
        <% if (!radiusModeEdit) { %>
            <a class="editDraw">Edit</a>
         <% } %> 
    <% } %>
</div>