<a class="remove" href="#close"></a>

<div class="drawDetails">
    <% if (drawMode === 'circle') { %>
        <i class='circleImg'>Radius</i>
        <% if (!radiusModeEdit) { %>
            <span class="drawRadius right"><%- radiusValDisplay %></span>
        <% } else { %>
            <div class="right">
                <input class="drawRadiusEdit" onfocus="this.value = this.value;" value="<%- radiusVal %>"/>
                <a class='saveRadiusChange'>Save</a>
                <a class='cancelRadiusChange'>Cancel</a>
            </div>

        <% } %>    
    <% } else if (drawMode === 'rectangle') {%>
        <span class="right"><%- layerArea %></span>
        <i class='squareImag'>Area</i>
    <% } else { %>
        <span class="right"><%- layerArea %></span>
        <i class='polyImg'>Area</i>
    <% } %>
    <% if (editDrawStatus) { %>
        <a class='saveShapeEdit'>Save</a>
        <a class='cancelShapeEdit'>Cancel</a>
    <% } else { %>
        <% if (!radiusModeEdit) { %>
            <% if (!tableView) { %>
                <a class="editDraw">Edit</a>
            <% } %>
         <% } %> 
    <% } %>
</div>