<a class="remove" href="#close"></a>

<div>
    <i class='circleImg'>CircleImg</i>
    <i class='squareImag'>SquareImg</i>
    <i class='polyImg'>PloyImage</i>
    <input class="drawRadius" readonly value="<%- radiusValDisplay %>"/>
    <input class="drawRadiusEdit" value="<%- radiusVal %>"/>
    <button class='saveRadiusChange'>Save</button>
</div>