<a class="remove" href="#close"></a>

<div class="drawDetails">
    <i class='circleImg'>Radius</i>
    <i class='squareImag'>Custom</i>
    <i class='polyImg'>Custom</i>
    <button class='saveRadiusChange right'>Save</button>
    <input class="drawRadiusEdit right" value="<%- radiusVal %>"/>
    <span class="drawRadius right" readonly value=""><%- radiusValDisplay %></span>
</div>